@import "../omarchy/current/theme/waybar.css";

* {
  /* background-color: @background; */
  /* color: @foreground; */

  border: none;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12;
}

window#waybar{
  background-color: transparent;
}

#waybar > box {
  border-radius: 6px;
  margin: 0px 0px 0px 0px;
  border-bottom: 1px solid rgba(159, 43, 104, 0.4);
  background-color: @background;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.45);
  transition-property: background-color;
  transition-duration: .5s;
  font-weight: bold;
}

#workspaces {
    margin: 0px 4px;
    padding: 0px 0px;
    padding-top: 2px;
}

#workspaces button {
  all: initial;
  color: @foreground;
  padding: 0px 2px;
  min-width: 15px;
  margin: 0px 0px;
  border: none;
  opacity: 0.75;
  font-weight: bold;
  font-size: 14px;
}

#workspaces button.active {
  color: @background;
  background: @foreground;
  opacity: 0.75;
  font-weight: bold;
  font-size: 14px;
}

#workspaces button.empty:hover, 
#workspaces button:hover {
    background: transparent;
    color: alpha(@foreground, 1);
    opacity: 1;
    font-weight: bold;
    font-size: 14px;
}

#workspaces button.empty {
  opacity: 0.4;
  color: alpha(@foreground, 0.45);
  font-weight: bold;
  font-size: 14px;
}

#workspaces button.empty.active {
  opacity: 0.75;
  background-color: @foreground;
  color: @background;
  font-weight: bold;
  font-size: 14px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

tooltip {
 padding: 4px;
 background: @background;
 font-size: 11px;
 border: 1px solid alpha(@foreground, 0.6);
 border-radius: 8px;
 
}
tooltip label {
    color: alpha(@foreground, 1);
    font-weight: normal;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

#custom-weather {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

#custom-weather.unavailable {
  min-width: 0;
  margin: 0;
  padding: 0;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
